.nav-bar {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 9px;
  z-index: 110;
  border-radius: 13px;
}
