.splash-screen {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 36px;
  gap: 9px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10002;
  background-color: var(--base-color);
  color: var(--text-color);
}

.splash-screen .item {
  gap: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
